@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #ffffff;
  margin: 0 !important;
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-layout-sider-light .ant-layout-sider-trigger{
  background-color: #d9dbdd;
};

